<div class="bubble-container">
  <nav>
    <button (click)="select(1)" [class.active]="section === 1">Занятие</button>
    <button (click)="select(2)" [class.active]="section === 2">Курс</button>
    <button (click)="select(3)" [class.active]="section === 3">Экзамен</button>
  </nav>

  <form (ngSubmit)="submit()">
    @if (section === 1) {
      <div class="section">
        <h2>Оценка занятия</h2>
        <div class="cloud">
          <label>Оцените по шкале проведенное занятие</label>
          <div class="bubble-row">
            <span class="bubble-label-left">Плохо</span>
            <div class="bubble-group" [ngClass]="{'scale-10': true}">
              @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s1_q0'" [(ngModel)]="responses.section1.q0" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i <= 5,
                    'right': i > 5
                  }"></span>
                </label>
              }
            </div>
            <span class="bubble-label-right">Хорошо</span>
          </div>
        </div>

        <div class="cloud">
          <label> Хотели бы вы рассказать о проведенном занятии чуть больше?</label>
          <div class="button-toggle-group">
            <button type="button"
                    [class.active]="responses.section1.q01 === 'yes'"
                    (click)="responses.section1.q01 = 'yes'; onCheckboxChange('section1')">
              Да
            </button>
            <button type="button"
                    [class.active]="responses.section1.q01 === 'no'"
                    (click)="responses.section1.q01 = 'no'; onCheckboxChange('section1')">
              Нет
            </button>
          </div>
        </div>
        @if (responses.section1.q01 === 'yes') {
          <div class="cloud">
            <label> Все ли вам было понятно на занятии? </label>
            <div class="bubble-row">
              <span class="bubble-label-left">Нет</span>
              <div class="bubble-group" [ngClass]="{'scale-5': true}">
                @for (i of [1, 2, 3, 4, 5]; track trackByIndex($index)) {
                  <label>
                    <input type="radio" [name]="'s1_q1'" [(ngModel)]="responses.section1.q1" [value]="i" />
                    <span class="bubble" [ngClass]="{
                      'left': i < 3,
                      'right': i > 2
                    }"></span>
                  </label>
                }
              </div>
              <span class="bubble-label-right">Да</span>
            </div>
            <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section1.q1c" [name]="'s1_q1c'"></textarea>
          </div>

          <div class="cloud">
          <label> Рассказывал ли вам преподаватель о том, как применять  материал на практике (на месте вашей будущей работы)? </label>
          <div class="bubble-row">
            <span class = "bubble-label-left">Нет</span>
            <div class="bubble-group" [ngClass]="{'scale-2': true}">
              @for (i of [1, 2]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s1_q2'" [(ngModel)]="responses.section1.q2" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i === 1,
                    'right': i === 2
                  }"></span>
                </label>
              }
            </div>
            <span class = "bubble-label-right">Да</span>
          </div>
          </div>

          <div class="cloud">
          <label> Было ли вам интересно на занятии?</label>
          <div class="bubble-row">
            <span class="bubble-label-left">Нет</span>
            <div class="bubble-group" [ngClass]="{'scale-5': true}">
              @for (i of [1, 2, 3, 4, 5]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s1_q3'" [(ngModel)]="responses.section1.q3" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i < 3,
                    'right': i > 2
                  }"></span>
                </label>
              }
            </div>
            <span class="bubble-label-right">Да</span>
          </div>
          <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section1.q3c" [name]="'s1_q3c'"></textarea>
          </div>

          <div class="cloud">
          <label> Легко ли вам было воспринимать преподаваемый материал(темп речи, интонация, наглядность подачи материала)?</label>
          <div class="bubble-row">
            <span class="bubble-label-left">Сложно</span>
            <div class="bubble-group" [ngClass]="{'scale-5': true}">
              @for (i of [1, 2, 3, 4, 5]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s1_q4'" [(ngModel)]="responses.section1.q4" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i < 3,
                    'right': i > 2
                  }"></span>
                </label>
              }
            </div>
            <span class="bubble-label-right">Легко</span>
          </div>
          <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section1.q4c" [name]="'s1_q4c'"></textarea>
          </div>

          <div class="cloud">
          <label> Представляете ли вы, как применить полученные знания на практике (на месте вашей будущей работы)? </label>
          <div class="bubble-row">
            <span class="bubble-label-left">Нет</span>
            <div class="bubble-group" [ngClass]="{'scale-3': true}">
              @for (i of [1, 2, 3]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s1_q5'" [(ngModel)]="responses.section1.q5" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i < 2,
                    'right': i > 1
                  }"></span>
                </label>
              }
            </div>
            <span class="bubble-label-right">Да</span>
          </div>
          <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section1.q5c" [name]="'s1_q5c'"></textarea>
          </div>

          <div class="cloud">
          <label> Выстраивается ли у вас с преподавателем конструктивный диалог? </label>
          <div class="bubble-row">
            <span class="bubble-label-left">Нет</span>
            <div class="bubble-group" [ngClass]="{'scale-3': true}">
              @for (i of [1, 2, 3]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s1_q6'" [(ngModel)]="responses.section1.q6" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i < 2,
                    'right': i > 1
                  }"></span>
                </label>
              }
            </div>
            <span class="bubble-label-right">Да</span>
          </div>
          <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section1.q6c" [name]="'s1_q6c'"></textarea>
          </div>

          <div class="cloud">
          <label> Соответствует ли внешний вид преподавателя академическому стилю?</label>
          <div class="bubble-row">
            <span class="bubble-label-left">Нет</span>
            <div class="bubble-group" [ngClass]="{'scale-3': true}">
              @for (i of [1, 2, 3]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s1_q7'" [(ngModel)]="responses.section1.q7" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i < 2,
                    'right': i > 1
                  }"></span>
                </label>
              }
            </div>
            <span class="bubble-label-right">Да</span>
          </div>
          <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section1.q7c" [name]="'s1_q7c'"></textarea>
          </div>

          <div class="cloud">
          <label> Комментарий.</label>
          <textarea placeholder="Если хотите, можете написать что-то, что выходит за рамки предыдущих вопросов" [(ngModel)]="responses.section1.q8c" [name]="'s1_q8c'"></textarea>
          </div>

        }
      </div>
    }

    @if (section === 2) {
      <div class="section">
        <h2>Оценка курса</h2>

        <div class="cloud">
        <label> Оцените качество преподавания курса в течение прошедшего времени</label>
        <div class="bubble-row">
          <span class="bubble-label-left">Плохо</span>
          <div class="bubble-group" [ngClass]="{'scale-10': true}">
            @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track trackByIndex($index)) {
              <label>
                <input type="radio" [name]="'s2_q0'" [(ngModel)]="responses.section2.q0" [value]="i" />
                <span class="bubble" [ngClass]="{
                  'left': i <= 5,
                  'right': i > 5
                }"></span>
              </label>
            }
          </div>
          <span class="bubble-label-right">Хорошо</span>
        </div>
        </div>

        <div class="cloud">
        <label> Хотели бы вы рассказать о прошедших занятиях чуть больше?</label>
          <div class="button-toggle-group">
            <button type="button"
                    [class.active]="responses.section2.q01 === 'yes'"
                    (click)="responses.section2.q01 = 'yes'; onCheckboxChange('section2')">
              Да
            </button>
            <button type="button"
                    [class.active]="responses.section2.q01 === 'no'"
                    (click)="responses.section2.q01 = 'no'; onCheckboxChange('section2')">
              Нет
            </button>
          </div>
        </div>

        @if (responses.section2.q01 === 'yes') {
          <div class="cloud">
          <label> Как вы оцениваете свои знания по прохождению курса в настоящее время? </label>
          <div class="bubble-row">
            <span class="bubble-label-left">Плохо</span>
            <div class="bubble-group" [ngClass]="{'scale-5': true}">
              @for (i of [1, 2, 3, 4, 5]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s2_q1'" [(ngModel)]="responses.section2.q1" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i < 3,
                    'right': i > 2
                  }"></span>
                </label>
              }
            </div>
            <span class="bubble-label-right">Хорошо</span>
          </div>
          <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section2.q1c" [name]="'s2_q1c'"></textarea>
          </div>

          <div class="cloud">
          <label> Содержал ли изученный материал научную составляющую (термины, теории, учения, историю научных открытий)?</label>
          <div class="bubble-row">
            <div class="bubble-group" [ngClass]="{'scale-2': true}">
              @for (i of [1, 2]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s2_q2'" [(ngModel)]="responses.section2.q2" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i === 1,
                    'right': i === 2
                  }"></span>
                </label>
              }
            </div>
          </div>
          </div>

          <div class="cloud">
          <label> Можете ли вы самостоятельно осваивать новый материал на основе уже полученных знаний?</label>
          <div class="bubble-row">
            <span class="bubble-label-left">Плохо</span>
            <div class="bubble-group" [ngClass]="{'scale-5': true}">
              @for (i of [1, 2, 3, 4, 5]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s2_q3'" [(ngModel)]="responses.section2.q3" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i < 3,
                    'right': i > 2
                  }"></span>
                </label>
              }
            </div>
            <span class="bubble-label-right">Хорошо</span>
          </div>
          <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section2.q3c" [name]="'s2_q3c'"></textarea>
          </div>

          <div class="cloud">
          <label> Получаете ли вы от преподавателя доступные ответы на заданные вопросы?</label>
          <div class="bubble-row">
            <span class="bubble-label-left">Плохо</span>
            <div class="bubble-group" [ngClass]="{'scale-3': true}">
              @for (i of [1, 2, 3]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s2_q4'" [(ngModel)]="responses.section2.q4" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i === 1,
                    'right': i > 1
                  }"></span>
                </label>
              }
            </div>
            <span class="bubble-label-right">Хорошо</span>
          </div>
          <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section2.q4c" [name]="'s2_q4c'"></textarea>
          </div>

          <div class="cloud">
          <label> Считаете ли вы, что получаемые знания являются полезными для вашей будущей работы? </label>
          <div class="bubble-row">
            <span class="bubble-label-left">Плохо</span>
            <div class="bubble-group" [ngClass]="{'scale-5': true}">
              @for (i of [1, 2, 3, 4, 5]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s2_q5'" [(ngModel)]="responses.section2.q5" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i < 3,
                    'right': i > 2
                  }"></span>
                </label>
              }
            </div>
            <span class="bubble-label-right">Хорошо</span>
          </div>
          <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section2.q5c" [name]="'s2_q5c'"></textarea>
          </div>

          <div class="cloud">
          <label> Считаете ли вы, что объем самостоятельной работы оптимален? (Уровень затраченных усилий соответствует получаемым знаниям) </label>
          <div class="bubble-row">
            <span class="bubble-label-left">Нет</span>
            <div class="bubble-group" [ngClass]="{'scale-5': true}">
              @for (i of [1, 2, 3, 4, 5]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s2_q6'" [(ngModel)]="responses.section2.q6" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i < 3,
                    'right': i > 2
                  }"></span>
                </label>
              }
            </div>
            <span class="bubble-label-right">Да</span>
          </div>
          <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section2.q6c" [name]="'s2_q6c'"></textarea>
          </div>

          <div class="cloud">
          <label> Проводит ли преподаватель интерактивные коллективные занятия? (Дискуссии, открытые столы, дебаты, деловые игры и тд)</label>
          <div class="bubble-row">
            <span class="bubble-label-left">Нет</span>
            <div class="bubble-group" [ngClass]="{'scale-2': true}">
              @for (i of [1, 2]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s2_q7'" [(ngModel)]="responses.section2.q7" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i === 1,
                    'right': i === 2
                  }"></span>
                </label>
              }
            </div>
            <span class="bubble-label-right">Да</span>
          </div>
          </div>

          <div class="cloud">
          <label>Доверяете ли вы вашему преподавателю?</label>
          <div class="bubble-row">
            <span class="bubble-label-left">Нет</span>
            <div class="bubble-group" [ngClass]="{'scale-3': true}">
              @for (i of [1, 2, 3]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s2_q8'" [(ngModel)]="responses.section2.q8" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i === 1,
                    'right': i > 1
                  }"></span>
                </label>
              }
            </div>
            <span class="bubble-label-right">Да</span>
          </div>
          <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section2.q8c" [name]="'s2_q8c'"></textarea>
          </div>

          <div class="cloud">
          <label>Считаете ли вы, что преподаватель к вам справедлив?</label>
          <div class="bubble-row">
            <span class="bubble-label-left">Нет</span>
            <div class="bubble-group" [ngClass]="{'scale-3': true}">
              @for (i of [1, 2, 3]; track trackByIndex($index)) {
                <label>
                  <input type="radio" [name]="'s2_q9'" [(ngModel)]="responses.section2.q8" [value]="i" />
                  <span class="bubble" [ngClass]="{
                    'left': i === 1,
                    'right': i > 1
                  }"></span>
                </label>
              }
            </div>
            <span class="bubble-label-right">Да</span>
          </div>
          <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section2.q8c" [name]="'s2_q9c'"></textarea>
          </div>

          <div class="cloud">
          <textarea placeholder="Если хотите, можете написать что-то, что выходит за рамки предыдущих вопросов" [(ngModel)]="responses.section1.q8c" [name]="'s1_q10c'"></textarea>
          </div>

        }
      </div>
    }

    @if (section === 3) {
      <div class="section">
        <h2>Экзамен/Зачет</h2>
        <div class="cloud">
        <label>Как у вас прошел экзамен/зачет?</label>
        <div class="bubble-row">
          <span class="bubble-label-left">Плохо</span>
          <div class="bubble-group" [ngClass]="{'scale-10': true}">
            @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track trackByIndex($index)) {
              <label>
                <input type="radio" [name]="'s3_q0'" [(ngModel)]="responses.section3.q0" [value]="i" />
                <span class="bubble" [ngClass]="{
                  'left': i <= 5,
                  'right': i > 5
                }"></span>
              </label>
            }
          </div>
          <span class="bubble-label-right">Хорошо</span>
        </div>
        <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section3.q0c" [name]="'s3_q0c'"></textarea>
        </div>

        <div class="cloud">
        <label> Как вы оцениваете свое эмоциональное состояние во время экзамена/зачета?</label>
        <div class="bubble-row">
          <span class="bubble-label-left">Плохо</span>
          <div class="bubble-group" [ngClass]="{'scale-10': true}">
            @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track trackByIndex($index)) {
              <label>
                <input type="radio" [name]="'s3_q1'" [(ngModel)]="responses.section3.q1" [value]="i" />
                <span class="bubble" [ngClass]="{
                  'left': i <= 5,
                  'right': i > 5
                }"></span>
              </label>
            }
          </div>
          <span class="bubble-label-right">Хорошо</span>
        </div>
        <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section3.q1c" [name]="'s3_q1c'"></textarea>
        </div>

        <div class="cloud">
        <label> Соответствовали ли вопросы в билетах полученному на занятиях материалу?</label>
        <select [(ngModel)]="responses.section3.q3" [name]="'s3_q3'">
          <option value="yes">Да</option>
          <option value="partial">Были незнакомые вопросы</option>
          <option value="no">Нет, вовсе не соответствовали</option>
        </select>
        </div>

        <div class="cloud">
        <label> Был ли преподаватель к вам справедлив?</label>
        <div class="bubble-row">
          <span class="bubble-label-left">Плохо</span>
          <div class="bubble-group" [ngClass]="{'scale-3': true}">
            @for (i of [1, 2, 3]; track trackByIndex($index)) {
              <label>
                <input type="radio" [name]="'s3_q4'" [(ngModel)]="responses.section3.q4" [value]="i" />
                <span class="bubble" [ngClass]="{
                  'left': i === 1,
                  'right': i > 1
                }"></span>
              </label>
            }
          </div>
          <span class="bubble-label-right">Хорошо</span>
        </div>
        <textarea placeholder="Поясните ваш ответ" [(ngModel)]="responses.section3.q4c" [name]="'s3_q4c'"></textarea>
        </div>


        <div class="cloud">
        <label> Ваш комментарий (по желанию)</label>
        <textarea placeholder="Напишите что-то" [(ngModel)]="responses.section3.q5" [name]="'s3_q5'"></textarea>
        </div>
      </div>
    }

    <button type="submit" class="submit-btn" [disabled]="!formValid()">Отправить</button>
  </form>
</div>
